<%- include('header') -%>

<h1>Viðburðasíðan</h1>
<h2>Spennandi viðburðir á næstunni</h2>

<table>
	<% events.forEach((row) => { %>
	<tr>
      <td class="name"><a href=/event/<%-row.id%>><%= row.name %></a></td>
    </tr>
    <tr> 
      <td class="description"><%= row.description %></td>
    </tr>
    <% }) %>
</table>

<a href=/admin>Innskráning stjórnanda</a>

<%- include('footer') -%>
