<%- include('header') -%>

<h1>Viðburðasíðan</h1>
<h2>Spennandi viðburðir á næstunni</h2>

<table>
	<% events.forEach((row) => { %>
	<tr>
      <td class="name"><a href=/event/<%-row.id%>><%= row.name %></a></td>
    </tr>
    <tr> 
      <td class="index-description"><%= row.description %></td>
    </tr>
    <% }) %>
</table>

<% if(admin){ %>
   <h2>Skrá nýjan viðburð:</h2>
   <form method="post" action="/admin/new">
   <label for="name">Nafn viðburðar</label>
   <input type="text" id="name" name="name">
   <label for="descrip">Lýsing á viðburði</label>
   <input type="text" id="descrip" name="descrip">
   <input type="submit" value="Senda">
   </form>
 <% } else{ %>  
    <a href=/admin class="login">Innskráning stjórnanda</a>
<% } %>



<%- include('footer') -%>
